body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f9fc;
  padding-top: 100px;
  padding: 50px; }
  body main {
    max-width: 1000px;
    margin: 0 auto; }
  body h1 {
    font-weight: 300; }
  body .results {
    color: #7a92a5;
    font-size: 12px;
    margin: 12px 5px; }
  body header {
    width: 100%;
    flex-shrink: 0;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 6px 1px #e1e5e8;
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    padding: 10px 20px;
    position: relative; }
    body header input {
      width: 100%;
      text-overflow: ellipsis;
      display: inline-block;
      color: #20455e;
      font-size: 14px;
      outline: 0;
      transition: border 0.1s ease;
      resize: none;
      border: 1px solid #b6c1cd;
      border: none; 
    }
      body header input::placeholder {
        color: #b6c1cd; }
  body a {
    color: #3899ec;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px; }
  body .selectLabel {
    align-items: center;
    margin-left: 10px;
    border-radius: 10px;
    color: #000;
    border:1px solid #002333;
    cursor: pointer;
    display: inline-flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    line-height: 24px;
    padding: 0 17px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  body .matches {
    margin: 0;
    padding: 0; }
    body .matches .match {
      width: 100%;
      flex-shrink: 0;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 2px 6px 1px #e1e5e8;
      margin-bottom: 14px;
      display: flex;
      flex-direction: column;
      border: 1px solid #fff;
      padding: 10px 20px;
      transition: box-shadow 0.2s ease-in-out;
      position: relative; }
      body .matches .match:hover {
        box-shadow: 0 2px 6px 1px #d3d7da; }
      body .matches .match .title {
        margin: 15px 0;
        font-size: 16px;
        font-weight: 800;
        font-style: normal;
        color: #20455e; }
      body .matches .match .userDate {
          margin: 5px 0;
          font-size: 14px;
          font-weight: 400;
          font-style: normal;
          color: #20455e; }
      body .matches .match .userDate .container{
        display: flex;    
        align-items: center;  
      }
      body .matches .match footer {
        display: flex;
        justify-content: space-between;
        flex-direction: column; }
      body .matches .match footer .meta-data {
          color: #7a92a5;
          font-size: 12px;
          margin: 10px 0;
          flex-shrink: 0; }
      body .matches .match footer .buttonsContainer {
          display: flex;
          flex-wrap: wrap;
          }
      body .matches .match footer .buttons {
        border-radius: 100px;
        margin: 5px;
        margin-left: auto;
        margin-right: auto;
        color: black;
        cursor: pointer;
        font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
        padding: 7px 20px;
        text-align: center;
        text-decoration: none;
        transition: all 200ms;
        border: 0;
        font-size: 14px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      body .matches .match footer .buttons:hover {
        transform: scale(1.05) rotate(-1deg);
      }
      .semiCircle{
        width: 150px;
        height: 75px;
        position: relative;
        font-size: 11px;
        font-weight: 600;
        overflow: hidden;
        color: black;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        box-sizing : border-box;
      }
        .semiCircle:after{
          content: '';
          width: 150px;
          height: 150px;
          border:25px solid;
          position: absolute;
          border-radius: 50%;
          left: 0;
          top: 0;
          box-sizing : border-box;
          animation : fillAnimation 1s ease-in;
      }
      .greenFull:after{
        border-color : rgba(0,0,0,0.15) rgba(0,0,0,0.15) #0BDA51 #0BDA51;
        transform: rotate( calc( 1deg * ( -45 + 100 * 1.8 ) ) );
      }
      .green75:after{
        border-color : rgba(0,0,0,0.15) rgba(0,0,0,0.15) #0BDA51 #0BDA51;
        transform: rotate( calc( 1deg * ( -45 + 75 * 1.8 ) ) );
      }
      .yellow:after{
        border-color : rgba(0,0,0,0.15) rgba(0,0,0,0.15) #DBA800 #DBA800;
        transform: rotate( calc( 1deg * ( -45 + 50 * 1.8 ) ) );
      }
      .red:after{
        border-color : rgba(0,0,0,0.15) rgba(0,0,0,0.15) crimson crimson;
        transform: rotate( calc( 1deg * ( -45 + 25 * 1.8 ) ) );
      }
      .approved{
        display: inline-block;
        background-color: #13aa52;
        border: 1px solid #13aa52;
        border-radius: 4px;
        margin: 5px 20px 10px 0;
        box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
        box-sizing: border-box;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        outline: none;
        outline: 0;
        padding: 10px 25px;
        transform: translateY(0);
        transition: transform 150ms, box-shadow 150ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;       
      }
      .declined{
        display: inline-block;
        background-color: crimson;
        border: 1px solid crimson;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
        box-sizing: border-box;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        outline: none;
        outline: 0;
        padding: 10px 25px;
        transform: translateY(0);
        transition: transform 150ms, box-shadow 150ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;        
      }